

.row
  .large-9.columns
    #featured{"data-orbit" => ""}
      %img{:alt => "slide image1", :src => "assets/alicemiller.png"}/
      %img{:alt => "slide image2", :src => "assets/anjliwedding.png"}/
      %img{:alt => "slide image3", :src => "assets/singstrong1.png"}/
      %img{:alt => "slide image3", :src => "assets/singstrong2.png"}/  
  .large-3.columns.hide-for-small
    #importantinfo.centered.panel{"style" => "text-align:center"}
      %p 
        %h5 Come to our next performance
      %p
        %h2 Blah Blah
      %p        
        %ul.disc
          %li{"style" => "list-style-position: inside;"}
            Where: Your Mom
          %li{"style" => "list-style-position: inside;"}
            When: everyday
      

%br/

.row
  .large-12.columns
    .row
      / Thumbnails
      .large-3.small-6.columns.hide-for-small{"height" => "300px"}
        .fb-like-box{"data-border-color" => "#eee", "data-header" => "false", "data-height" => "300", "data-href" => "http://www.facebook.com/brownsugarnu", "data-show-faces" => "false", "data-stream" => "true", "data-width" => "292"}
      .large-3.small-6.columns.hide-for-small{"height" => "300px"}
        %a.twitter-timeline{"data-widget-id" => "326232966407782400", :href => "https://twitter.com/BrownSugarNU", "data-chrome" => "noheader nofooter  transparent", "height" => "300px"} Tweets by @BrownSugarNU
      .large-3.small-6.columns{"height" => "300px"}
        %h5 Check out our new album!
        %hr/
        %img{:alt => "album art", :src => "assets/cdcover.jpg"}/
      .large-3.small-6.columns{"height" => "300px"}
        %h5 Get In Touch!
        %hr/
        %a{:href => "#"}
        .panel.radius.callout{:align => "center"}
          %strong Call To Action!
        %a{:href => "#"}
        .panel.radius.callout{:align => "center"}
          %strong Call To Action!
      / End Thumbnails
    %br/




#fb-root
  :javascript
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=261778463899701";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");