/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
*/

.row {
  max-width: 70em !important;
}

.top-bar {
	background-image: url("logo.png") !important;
	background-repeat: no-repeat !important;
	background-size: auto 80px !important;
	background-position: 20px 10px !important;
	padding-bottom: 100px !important;
	border-bottom: 7px solid;
}

// .orbit-timer {
//   display: none;
// }

// .orbit-bullets {
//   width: 90px; // add about 24 per new picture?
// }