// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .buttons {
//   position:absolute !important;
//   top:50%; 
//   margin-top: -164px;
// }

.centered {
    //flexbox shit
}

#fb-root { display: none; }

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
    //overflow: hidden;
    margin-bottom: -20px;
    height: 300px;
}

.twitter-timeline .twitter-timeline-rendered {
    min-width: none !important;
    max-width: none !important;
    width: 100% !important;
    height: 300px;
}



//https://www.facebook.com/feeds/page.php?format=rss20&id=10288601762
//https://api.twitter.com/1/statuses/user_timeline.rss?screen_name=BrownSugarNU

